<h2>Import Deals from Pipedrive</h2>

<div class="pipedrive_connect_form">
  <%= render partial: 'pipedrive_tokens/form' %>
</div>

<div class="deal_import_selection_form">
  <%= render partial: 'selection_form' %>
</div>

<div class="deal_import_table_form">
  <%= render partial: 'deals_table' %>
</div>